* {
  margin: 0px;
  padding: 0px;
}
/**lalaantika's code start**/
.mainl{
background-color:white;
height:100vh;

}
.wrapperl{
    display:inline-grid;
    grid-template-columns:repeat(5 100%);
    background-color:#6F43D6;
}
.boxl{
    display:inline-block;
    background-color:#6F43D6;
    border: 80px;

}
.onel{
  padding-top:150px;
  grid-column-start: 1;
  grid-column-end:2;
  grid-row: 1;
  padding-right:25px;
  border:60px;
  padding-left: 350px;
  padding-bottom: 150px;

}
.linediv{
  grid-column-start: 3;
  grid-column-end:3;
  grid-row: 1;
  padding-left:5px

}

.twol{
  padding-top:150px;
  grid-column: 4/5;
  grid-row: 1;
  padding-right:300px;
  padding-bottom: 150px;
}
.textl
{
color:white;
font-size:200%;
font-weight: 400;
text-align: right;
text-decoration: none;
font-family: sans-serif;
}
.textl2
{
  color:white;
  font-size: 120%;
  text-decoration: none;
  text-align: left;
}
.vlla {
  position: relative;
  border-left: 5px solid #4FD5ED  ;
  height: 250px;
  top: 150px;
  bottom: 50px;
}
.textl3
{
  color:white;
  font-size: 100%;
  text-decoration: none;

}
.ullist{
  list-style: none;
}
.forc{
  color: #4FD5ED ;
}
.servicebox {
   position: relative;
    background-color:mediumvioletred;
    border:5px solid mediumvioletred;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    z-index:0;
  }
.boxpl
{
padding-left: 720px;
position: relative;
top:580px;
}

/**lalaantika's code end**/
/* Dan css */
.dan-container {
  background-image: url(img/Bg2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.dan-font {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16pt;
}

.dan-font-lg {
  font-size: 42pt;
}

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.spacing {
  margin-left: 10%;
}

/* These are start of Dr Thom & Gervan's CSS classes */
.screen10 {
  display:grid;
  margin: 0;
  height: 100vh;
  text-align: center;
  background-color: whitesmoke;
  vertical-align: middle;
}

.scrn10bigtext {
  margin: 10px;
  font-size: 24pt;
}

.screen10font {
  font-family: 'Bahnschrift', sans-serif;
  font-weight: bolder;
}

.textblue {
   color: #00c8f3;
}

.Testimonialtext {
  font-size: 15px;
  color: grey;
}
.textarea {
  padding: 20px 350px 20px 350px;
}

.topspace {
  padding: 150px 0 0 0;
  margin: 0;
}

/*aus css*/
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,350px);
    padding: 30px;
    height: 500px;
    align-content: center;
}

.box {
    background-color: white;
    color: black;
    padding: 100px;
    border-radius: 3px;
    text-align: center;
}

.center {
    justify-content: center;
}

.center1 {
    display: flex;
    justify-content: center;
}

.btn-aus {
    padding: 10px 10px 10px 10px;
    background-color: #fffa78;
    border: none;
}

.box1 {
    padding: 50px;
    border-radius: 3px;
    text-align: center;
    background-color: #4fd5ed;
    color: white;
}

.cl {
    color: #4fd5ed;
}

.box2 {
    background-color: white;
    color: black;
    padding: 50px;
    border-radius: 3px;
    text-align: center;
    border: groove;
}

.btn-aus2 {
    padding: 10px 10px 10px 10px;
    background-color: #fe6192;
    border: none;
}

/* David's CSS */
p {
  display: block;
  margin: 0px;
  vertical-align: middle;
}

.container {
  display:grid;
  color: black;
  grid-template-columns: 280px 280px 280px 280px;
  grid-template-rows: 275px;

  /*grid-auto-columns: 25% 25% 25% 25%;
  grid-auto-rows 25% 25%*/
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.div-grid {
  display:flex;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.div-grid-info {
  display: flex;
  font-size: 9pt;
  text-align: center;
  font-weight: normal;
}


.box-grid {
  display:block;
  padding:0px;
  margin: none;
  /*box-shadow: 1px 1px 6px rgba(0,0,0,5);*/
}

.image-class{
  display:inline-block;
  width:75px;
  height:75px;
  vertical-align: middle;
}

.alignpics {
  align-content: center;
  padding-bottom: 20px;
}
