* {
  margin: 0px;
  padding: 0px;
}
/* Dan css */
.dan-container {
  background-image: url(img/Bg2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.dan-font {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16pt;
}

.dan-font-lg {
  font-size: 42pt;
}

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.spacing {
  margin-left: 10%;
}

/* These are start of Dr Thom & Gervan's CSS classes */

.screen10 {      
  margin: 0;
  text-align: center;
  background-color: whitesmoke;
}

.scrn10bigtext {
  margin: 10px;
  font-size: 24pt;
}

.screen10font {
  font-family: 'Bahnschrift', sans-serif;
  font-weight: bolder;
}

.textblue {
   color: #00c8f3;
}

.Testimonialtext {
  text-align: center;
  font-size: 15px;
  padding: 10px 190px 10px 190px;
  color: grey;
  margin: 10px;
}

.topspace {
  padding: 16px 0 0 0;
  margin: 0;
}
