* {
  margin: 0px;
  padding: 0px;
}

/**lalaantika's code start**/
.mainl {
    height: 100vh;
    background-color: white;
}

.wrapperl {
    display: grid;
    grid-template-columns: repeat(14,97px);
    grid-template-rows: repeat(10,50px);
    background-color: #6F43D6;
    padding-top: 25px;
    margin-top: 120px;
}

.boxl {
    display: flex;
    background-color: #6F43D6;
}

.onel {
    grid-column: 1/7;
    grid-row: 1/8;
    padding-left: 200px;
    padding-right: 25px;
    padding-top: 50px;
}

.twol {
    grid-column: 7/8;
    grid-row: 1/8;
    border-left: 25px;
}

.threel {
    grid-column: 8/14;
    grid-row: 1/8;
    padding-right: 160px;
    padding-left: 5px;
    padding-top: 40px;
}

.fourl {
    grid-column: 6/9;
    grid-row: 7/9;
    margin-left: 80px;
}

.ullist {
    list-style: none;
}

.forc {
    color: #4FD5ED;
}

.vlla {
    position: relative;
    border-left: 5px solid #4FD5ED;
    height: 200px;
    top: 50px;
    bottom: 50px;
    left: 45px;
}

.textl {
    color: white;
    font-size: 125%;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    font-family: sans-serif;
}

.textl2 {
    color: white;
    font-size: 120%;
    text-decoration: none;
    text-align: left;
}

.textl3 {
    color: white;
    font-size: 100%;
    text-decoration: none;
    text-align: left;
}

.clearl {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 11;
}

.clearl2 {
    grid-column-start: 6;
    grid-column-end: 15;
    grid-row-start: 8;
    grid-row-end: 11;
}

.boxl3 {
    background-color: white;
}

.serviceboxl {
    position: relative;
    background-color: #FE6192;
    border: 5px solid #FE6192;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 200;
}
/* Dan css */
.dan-container {
  position: relative;
  width: 100%;
}

.bg-img {
  background-image: url(img/Bg2.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-top-right {
  position: absolute;
  top: 100px;
  right: 250px;
}

.shift-down {
  margin-top: 1.75rem;
}

.dan-font {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2vw;
  font-weight: 600;
  color: black;
}

.dan-font-lg {
  font-size: 3.5vw;
  color: white;
}

.move-forward {
  z-index: 1;
}

.dan-coloring {
  background-color: #6d41d3;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.spacing {
  margin-left: 10%;
}

/* These are start of Dr Thom & Gervan's CSS classes */
.screen10 {
  display:grid;
  margin: 0;
  height: 100vh;
  text-align: center;
  background-color: whitesmoke;
  vertical-align: middle;
}

.scrn10bigtext {
  margin: 10px;
  font-size: 24pt;
}

.screen10font {
  font-family: 'Bahnschrift', sans-serif;
  font-weight: bolder;
}

.textblue {
   color: #00c8f3;
}

.Testimonialtext {
  font-size: 15px;
  color: grey;
}
.textarea {
  padding: 20px 350px 20px 350px;
}

.topspace {
  padding: 150px 0 0 0;
  margin: 0;
}

/*aus css*/
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,350px);
    padding: 30px;
    height: 500px;
    align-content: center;
}

.box {
    background-color: white;
    color: black;
    padding: 100px;
    border-radius: 3px;
    text-align: center;
}

.center {
    justify-content: center;
}

.center1 {
    display: flex;
    justify-content: center;
}

.btn-aus {
    padding: 10px 10px 10px 10px;
    background-color: #fffa78;
    border: none;
}

.box1 {
    padding: 50px;
    border-radius: 3px;
    text-align: center;
    background-color: #4fd5ed;
    color: white;
}

.cl {
    color: #4fd5ed;
}

.box2 {
    background-color: white;
    color: black;
    padding: 50px;
    border-radius: 3px;
    text-align: center;
    border: groove;
}

.btn-aus2 {
    padding: 10px 10px 10px 10px;
    background-color: #fe6192;
    border: none;
}

/* David's CSS */
p {
  display: block;
  margin: 0px;
  vertical-align: middle;
}

.container {
  display:grid;
  color: black;
  grid-template-columns: 280px 280px 280px 280px;
  grid-template-rows: 275px;

  /*grid-auto-columns: 25% 25% 25% 25%;
  grid-auto-rows 25% 25%*/
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.div-grid {
  display:flex;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.div-grid-info {
  display: flex;
  font-size: 9pt;
  text-align: center;
  font-weight: normal;
}

.box-grid {
  display:block;
  padding:0px;
  margin: none;
  /*box-shadow: 1px 1px 6px rgba(0,0,0,5);*/
}

.image-class{
  display:inline-block;
  width:75px;
  height:75px;
  vertical-align: middle;
}

.alignpics {
  align-content: center;
  padding-bottom: 20px;
}

/*Roaa css( dont mind it now I will delete most of them later) */
.huge {
    font-size: 170px;
    font-weight: 700;
}

.huge-element:after {
    content: '';
    position: absolute;
    top: 19%;
    left: 71%;
    width: 70px;
    height: 149px;
    background: url(../images/element-1.png);
    z-index: -1;
}

.huge-element-4:after {
    content: '';
    position: absolute;
    top: 13%;
    left: 144%;
    width: 70px;
    height: 149px;
    background: url(../images/element-2.png) no-repeat;
    z-index: -1;
}

.nav-bar {
    display: flex;
    align-items: center;
}

    .nav-bar > ul {
        padding: 0;
    }

.mr-auto {
    margin: auto;
}

.lb {
    color: blue;
}

.hd {
    display: flex;
    justify-content: space-around;
}

.nav-items {
    display: flex;
    list-style: none;
}

    .nav-items > ul {
        padding: 0;
        display: flex;
        margin:;
    }

.space {
    padding-right: 250px;
}

.inactive-btn-A {
    padding: .100rem 2rem;
    text-decoration: none;
}

.bat {
    color: #eee;
}

.main-navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.outer-navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.rd-navbar-submenu-toggle {
    margin-left: 4px;
    font-family: material design icons;
    cursor: pointer;
    color: #fff;
}

.the-purple-color {
    color: #6f44d6
}

body {
    font-family: oswald,sans-serif;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
    color: #fff;
    background-color: #fff;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

.navbar-main-element {
    display: flex;
    align-items: center;
}

.nav-items-ro {
    display: inline-block;
}

.nav-items > ul {
    padding: 0;
    display: flex;
    margin:;
}

.inactive-btn-A {
    padding: .100rem 2rem;
    text-decoration: none;
}

.bat {
    color: #fff;
}

.rd-navbar-static {
    border-bottom: 1px solid transparent;
}

.img-cla {
    text-align: left;
    width: 150%;
}

.img-cla2 {
    text-align: right;
    width: 35%;
}

.alig-lan {
    padding-left: 120px;
}

.alig-lan2 {
    padding-left: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0;
}

.img-cla {
    text-align: left;
    width: 150%;
}

.img-cla2 {
    text-align: right;
    width: 35%;
}

.alig-lan {
    padding-left: 300px;
}

.alig-lan2 {
    padding-left: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0;
}

element.style {
    background-image: url(images/bg-header-01-2049x946.jpg);
}

.bg-image {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
}

.section-main {
    padding-top: 260px;
    padding-bottom: 200px;
}

.section-main {
    padding: 50px 0;
}

.dark {
    color: #fff;
}

.header-ro {
    background: linear-gradient( rgba(0, 0, 0, 0.00001), rgba(0, 0, 0, .000001)), url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 0px;
}

.rd-navbar-submenu-toggle {
    margin-left: 4px;
    font-family: material design icons;
    cursor: pointer;
    color: #fff;
}

*::before, *::after {
    box-sizing: border-box;
}

.text1 {
    letter-spacing: 6px;
    font-weight: 300;
    text-transform: uppercase !important;
    color: #fff;
}

.container-roaa {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-within-roaa {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    justify-content: center;
}

.element1:after {
    content: '';
    position: absolute;
    top: 19%;
    left: 71%;
    width: 70px;
    height: 149px;
    background: url(bg-element-1.png);
    z-index: -1;
    color: #fff;
}

.bg-element-4:after {
    content: '';
    position: absolute;
    top: 13%;
    left: 144%;
    width: 70px;
    height: 149px;
    background: url(../images/bg-element-2.png) no-repeat;
    z-index: -1;
}

.element2 {
    position: relative;
    display: inline-block;
    z-index: 1;
    color: #fff;
}

.bg-element-all {
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.big {
    font-size: 90px;
    font-weight: 700;
    text-shadow: 0 3px 5px rgba(0,0,0,.49);
}

.h1 {
    font-family: oswald,sans-serif;
    text-align: center !important;
}

.h3 {
    text-align: center !important;
}

}

.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
