* {
  margin: 0px;
  padding: 0px;
}

/**lalaantika's code start**/
.mainl {
    height: 100vh;
    background-color: white;
}

.wrapperl {
    display: grid;
    grid-template-columns: repeat(14,97px);
    grid-template-rows: repeat(10,50px);
    background-color: #6F43D6;
    padding-top: 25px;
    margin-top: 120px;
}

.boxl {
    display: flex;
    background-color: #6F43D6;
}

.onel {
    grid-column: 1/7;
    grid-row: 1/8;
    padding-left: 200px;
    padding-right: 25px;
    padding-top: 60px;
}

.twol {
    grid-column: 7/8;
    grid-row: 1/8;
    border-left: 25px;
}

.threel {
    grid-column: 8/14;
    grid-row: 1/8;
    padding-right: 120px;
    padding-left: 45px;
    padding-top: 60px;
}

.fourl {
    grid-column: 6/9;
    grid-row: 7/9;
    margin-left: 80px;
    margin-top:20px;
}

.ullist {
    list-style: none;
}

.forc {
    color: #4FD5ED;
}

.vlla {
    position: relative;
    border-left: 5px solid #4FD5ED;
    height: 200px;
    top: 50px;
    bottom: 50px;
    left: 45px;
}

.textl {
    color: white;
    font-size: 125%;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    font-family: sans-serif;
}

.textl2 {
    color: white;
    font-size: 120%;
    text-decoration: none;
    text-align: left;
    padding-bottom:10px;
}

.textl3 {
    color: white;
    font-size: 100%;
    text-decoration: none;
    text-align: left;
}

.clearl {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 11;
}

.clearl2 {
    grid-column-start: 6;
    grid-column-end: 15;
    grid-row-start: 8;
    grid-row-end: 11;
}

.boxl3 {
    background-color: white;
}

.serviceboxl {
    position: relative;
    background-color: #FE6192;
    border: 5px solid #FE6192;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 200;
}
/* Dan css */
.dan-container {
  display: flex;
  position: relative;
  width: 100%;
}

.bg-img {
  background-image: url(img/Bg2.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-top-right {
  position: absolute;
  top: 100px;
  right: 250px;
}

.shift-down {
  margin-top: 1.25rem;
}

.dan-font {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2vw;
  font-weight: 600;
  color: black;
}

.dan-font-lg {
  font-size: 3.5vw;
  color: white;
}

.dan-font-sm {
  font-size: 1vw;
  color: white;
}

.move-forward {
  z-index: 1;
}

.dan-coloring {
  background-color: #6d41d3;
}

.dan-footer {
  align-self: flex-end;
  width: 100vw;
  height: 20%;
  opacity: 0.9;
}

.dan-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.dan-item {
  align-self: center;
  text-align: center;
}

/* These are start of Dr Thom & Gervan's CSS classes */
.screen10 {
  display:grid;
  margin: 0;
  height: 100vh;
  text-align: center;
  background-color: whitesmoke;
}

.scrn10bigtext {
  margin: 10px;
  font-size: 24pt;
}

.screen10font {
  font-family: 'Bahnschrift', sans-serif;
  font-weight: bolder;
  color: black;
}

.textblue {
   color: #00c8f3;
}

.Testimonialtext {
  font-size: 15px;
  color: grey;
}
.textarea {
  padding: 20px 340px 20px 340px;
}

.topspace {
  padding: 100px 0 0 0;
  margin: 0;
}

.alignpics {
  align-content: center;
  padding-bottom: 20px;
}


/*aus css*/
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,350px);
    padding: 5px;
    height: 570px;
    align-content: center;
}
.sb {
    box-shadow: 20px 20px 50px grey;
}

.box {
    background-color: white;
    color: black;
    padding: 100px;
    border-radius: 3px;
    text-align: center;
    
}

.center {
    justify-content: center;
}

.center1 {
    display: flex;
    justify-content: center;
    align-items:center;
   
}

.btn-aus {
    padding: 10px 10px 10px 10px;
    background-color: #fffa78;
    border: none;
}

.box1 {
    padding: 50px;
    border-radius: 3px;
    text-align: center;
    background-color: #4fd5ed;
    color: white;
    height: 350px;
}

.cl {
    color: #4fd5ed;
}


.box2 {
    background-color: white;
    color: black;
    padding: 50px;
    border-radius: 3px;
    text-align: center;
    
}

.btn-aus2 {
    padding: 10px 10px 10px 10px;
    background-color: #fe6192;
    border: none;
}

/* David's CSS */
.p-class {
  display: block;
  vertical-align: middle;
  margin-left:64px;
  margin-right: 64px;
}

.container {
  display:inline-grid;
  color: black;
  grid-template-columns: 280px 280px 280px 280px;
  grid-template-rows: 275px;
  /*margin-left: 0px;
  margin-right: 0px;*/
  justify-content: center;
}

.div-grid {
  display:flex;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.div-grid-info {
  display: flex;
  font-size: 9pt;
  text-align: center;
  font-weight: normal;
}

.box-grid {
  display:block;
  padding:0px;
  margin: 0;
  /*box-shadow: 1px 1px 6px rgba(0,0,0,5);*/
}

.image-class{
  display:inline-block;
  width:75px;
  height:75px;
  vertical-align: middle;
}

.alignpics {
  align-content: center;
  padding-bottom: 20px;
}

/*Roaa css */
.nav-bar-ro {
    display: flex;
    align-items: center;
}

.hd-ro {
    display: flex;

}

.nav-items-ro {
    display: flex;
    list-style: none;
    margin-left:50px
}

.header-ro {
    background: linear-gradient( rgba(0, 0, 0, 0.00001), rgba(0, 0, 0, .000001)), url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 0px;
}

.inactive-btn-ro {
    padding: .50rem 2rem;
    text-decoration: none;
    font-size: 80%;
    letter-spacing:1px;
    cursor: pointer;
}

.bat-ro {
    color: #fff;
}

.img-ro {
    text-align: left;
    width: 150%;
}


.alig-ro {
    padding-left: 300px;
}

.container-ro {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 51%;
    margin-left: 51%;
    padding: 122px;
    text-align: center;
}

.ro {
    color:#6f44d6;
}
.ro-2{
    color:#fff;
}
.btn-ro {
    padding: 10px 10px 10px 10px;
    background-color: #fe6192;
    border: none;
    cursor:pointer;
}

.container-within-ro {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    justify-content: center;
}

/*Moj's CSS*/
.footer-wrapper .contact-container {
  width: 25vw;
  margin: auto auto 10px auto; 
}

.footer-wrapper, .footer-wrapper p, .footer-wrapper span, .footer-wrapper img, .footer-wrapper label, .footer-wrapper form, .footer-wrapper input, .footer-wrapper h1, .footer-wrapper textarea, .trademark {
  margin: 0;
  padding: 0;
  background-color: #1f1818;
  box-sizing: border-box;
  overflow: hidden;
}

.footer-wrapper {
  height: 100vh;
}

.footer-wrapper h1 {
  margin: 20px 10px 60px auto;
  text-align: center;
  font-size: 32pt;
  color: #fff;
  font-family: arial;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wrapper .form {
  margin: auto;
}

.footer-wrapper label {
  color: #98a69c;
  font-style: italic;
  font-size: 12pt;
  line-height:20px;
}

.footer-wrapper .form div {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-column-gap: 0;
  box-sizing: border-box;
}

.footer-wrapper .div-line {
  width: 100%;
  margin: 15px 0 40px 0;
  padding: 0;
  border-bottom: thin solid #98a69c;
}

.footer-wrapper label span {
  color: yellow;
  margin: 0 2px;
}

.footer-wrapper input, textarea {
  width: 100%;
  border: none;
  resize: both;
  overflow: auto;
  color: #eee;
  font-size: 13pt;
}

.footer-wrapper textarea{
  padding-top: 4px;
}

.footer-wrapper button {
  margin-top: 30px;
  padding: 0px;
  font-weight: 700;
  background-color: #fe6192;
  color: #f2dfe8;
  border: none;
  width: 160px;
  height: 35px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
}

.footer-wrapper button::before {
  font-weight: 700;
  content: "+";
  margin-right: 10px;
}

.social-icons-bar {
  margin-top: 50px;
  margin-bottom: 15px;
}

.social-icons-bar ul {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

.social-icons-bar a {
  vertical-align: middle;
  display: inline-block;
  border: .1px solid white;
  border-radius: 40%;
  padding: 6px;
  background-color: #98a69c
}
.social-icons-bar li {
  display: inline-block;
  margin: 0 3px;
}

.social-icons-bar a.linkedin::before{
  background: url(img/linkedin.png) no-repeat 0 0;
  background-size: 100%;
  background-color: #98a69c;
}

.social-icons-bar a.twitter::before{
  background: url(img/twitter.jpg) no-repeat 0 0;
  background-size: 100%;

}

.social-icons-bar a.facebook::before{
  background: url(img/facebook.png) no-repeat 0 0;
  background-size: 100%;
  background-color: #98a69c;
}

.social-icons-bar a.instagram::before{
  background: url(img/instagram.png) no-repeat 0 0;
  background-size: 100%;
  background-color: #98a69c;
}

.social-icons-bar a::before {
  display: block;
  content:"";
  width: 15px;
  height: 15px;
}

.trademark {
  text-align: center;
  color: #98a69c;
  font-size: 10pt;
  padding-bottom: 10px;
}

.trademark::before {
  content:"@";
  margin-right: 5px;
}
